@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo</h1>
    <p>Este programa é para teste de MVC com ASP.NET, utilizando banco de dados SQL Server, contendo acesso API e pequeno teste automatizado!</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
